.log {
  display: flex;
  padding: 15px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #f6b83d;
  color: #fff;

  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.reg {
  color: #f6b83d;
  border-radius: 30px;
  background: #fff4df;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  padding: 15px 20px;
}
.navReg {
  display: flex;
  gap: 8px;
}
