@import "../../scss/mixins";

.log {
  padding: 15px 35px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #f6b83d;
  color: #fff;
}
.reg {
  color: #f6b83d;
  border-radius: 30px;
  background: #fff4df;
  padding: 15px 20px;
}
.navReg {
  display: none;
  @include media(tablet) {
    display: flex;
    gap: 8px;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
  }
  @include media(desktop) {
  }
}
