@import "../../scss/mixins";
.selectBase {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #fff;
  border: none;
  outline: none;
  height: 48px;
}
.selectBase option {
  border: none;
  outline: none;
  background: #fff;
  color: #000;
  padding-right: 127px;
  overflow: visible;
}

.filterBox {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
  @include media(tablet) {
    gap: 16px;
  }
  @include media(desktop) {
  }
}
.sex {
  width: 190px;
}
.cat {
  width: 200px;
}

.inputSearch {
  width: 295px;
  height: 42px;
  display: inline-flex;
  padding: 14px 60px 14px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: rgba(38, 38, 38, 1);
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.42px;
  @include font(14, 18);
  background-color: #fff;
  &::placeholder {
    color: rgba(38, 38, 38, 1);
  }
  &:focus-visible {
    border: 1px solid #f6b83d;
  }

  @include media(tablet) {
    letter-spacing: -0.48px;
    width: 335px;
    height: 48px;
    @include font(16, 20);
  }
  @include media(tablet) {
    width: 265px;
    height: 48px;
  }
}
.search {
  position: relative;
  height: 42px;
  @include media(tablet) {
    width: 265px;
    height: 48px;
  }
}
.iconSearch {
  position: absolute;
  right: 12px;
  top: 12px;
  background: transparent;
  border: none;
  padding: 0;
  @include media(tablet) {
    right: 14px;
    top: 15px;
  }
}
.btnClear {
  position: absolute;
  right: 36px;
  top: 12px;
  background: #fff;
  border: none;
  padding: 0;
  @include media(tablet) {
    right: 36px;
    top: 15px;
  }
}

.icon {
  width: 18px;
  height: 18px;
  fill: #fff;
  stroke: #262626;
}
.iconClear {
  width: 20px;
  height: 20px;
  fill: #fff;
  stroke: #262626;
}
.btnClear {
  position: absolute;
  right: 36px;
  top: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.selectWrapper {
  width: 143px;
  font-family: Manrope;
  font-weight: 500;
  letter-spacing: -0.42px;
  font-style: normal;
  cursor: pointer;
  @include font(14, 18);
  @include media(tablet) {
    @include font(16, 20);
    width: 170px;
    letter-spacing: -0.48px;
  }
  @include media(desktop) {
    width: 200px;
  }
}
.selectWrapperType {
  width: 295px;
  font-family: Manrope;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  @include font(14, 18);
  @include media(tablet) {
    width: 190px;
    @include font(16, 20);
  }
 
}
