.categ {
  display: flex;
  padding: 14px 119px 14px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #fff;
  border: none;
}
.spec {
}
.sex {
}
