@import "../../scss/mixins";
.contPag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;

  @include media(tablet) {
    gap: 24px;
  }
  @include media(desktop) {
  }
}
.buttonLeft {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.05);
  transition: transform 0.3s ease-in-out;
  @include media(tablet) {
    width: 44px;
    height: 44px;
  }
  @include media(desktop) {
  }
}

.icon1 {
  width: 20px;
  height: 20px;
  position: absolute;
  fill: rgba(38, 38, 38, 1);
  left: 6px;
  top: 10px;
  @include media(tablet) {
    width: 24px;
    height: 24px;
  }
}

.icon2 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 10px;
  fill: rgba(38, 38, 38, 1);
  @include media(tablet) {
    width: 24px;
    height: 24px;
  }
}

.buttonRight {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.05);
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  @include media(tablet) {
    width: 44px;
    height: 44px;
  }
}

.icon3 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 8px;
  top: 10px;
  fill: rgba(38, 38, 38, 1);
  @include media(tablet) {
    width: 24px;
    height: 24px;
  }
}
.left {
  display: flex;
  gap: 6px;
  @include media(tablet) {
    gap: 8px;
  }
}
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.numBut {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  color: #262626;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.05);
  @include font(14, 18);
  @include media(tablet) {
    width: 44px;
    height: 44px;
    @include font(18, 22);
  }
}
// .active {
//   background-color: #f6b83d;
//   color: #fff;
// }

.pagination {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  align-items: center;
  color: #262626;
  align-items: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  @include font(14, 18);
  @include media(tablet) {
    @include font(18, 22);
  }
}

.pageItem {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  @include media(tablet) {
    width: 44px;
    height: 44px;
  }
}

.pageLink {
  color: inherit;
  text-decoration: none;
}

.active {
  background-color: #f6b83d;
  color: white;
  border-color: #f6b83d;
  color: #fff;
  color: #fff;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  @include font(14, 18);
  @include media(tablet) {
    @include font(18, 22);
  }
}
