@import "../../scss/mixins";

.box {
  display: flex;
  gap: 14px;
  padding: 40px 18px;
  position: relative;
  @include media(tablet) {
    padding: 40px 20px;
    gap: 16px;
  }
  @include media(desktop) {
    gap: 20px;
  }
}
.img {
  width: 80px;
  height: 80px;
  border-radius: 90px;
  @include media(tablet) {
    width: 90px;
    height: 90px;
  }
}
.textHead {
  overflow: hidden;
  color: #262626;
  text-overflow: ellipsis;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.64px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  @include font(16, 20);
  @include media(tablet) {
    letter-spacing: -0.8px;
    @include font(20, 26);
  }
}
.text {
  color: rgba(38, 38, 38, 0.5);
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.28px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  @include font(14, 18);
}
.primTex {
  color: #262626;
  margin-left: 2px;
}
.primTex:hover {
  color: #f6b83d;
}
.boxText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 260px;
}
.boxAdr {
  display: flex;
  flex-direction: column;
  gap: 14px;
  @include media(tablet) {
    gap: 20px;
  }
}

.dataBox {
  position: absolute;
  top: 12px;
  right: 12px;
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #fff4df;
  color: #f6b83d;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;
  @include font(12, 16);
  @include media(tablet) {
    letter-spacing: -0.28px;
    @include font(14, 18);
  }
}
