@import "../../scss/mixins";
.cont {
  width: 295px;
  height: 132px;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid rgba(38, 38, 38, 0.1);
  display: flex;
  position: relative;
  @include media(tablet) {
    width: 305px;
    height: 149px;
    padding: 22px 27px 23px 16px;
  }
  @include media(desktop) {
    width: 440px;
    height: 130px;
    padding: 20px;
    align-items: center;
  }
}
.text {
  margin-left: 14px;

  @include media(desktop) {
    margin-left: 25px;
  }
}
.text > h2 {
  color: #2b2b2a;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 12px;
  @include font(14, 18);
}
.img {
  width: 66px;
  height: 66px;
  border-radius: 100px;
  object-fit: cover;
  flex-shrink: 0;
  @include media(tablet) {
    width: 75px;
    height: 75px;
  }
  @include media(desktop) {
    width: 90px;
    height: 90px;
  }
}
.categoryBox {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  @include media(tablet) {
  }
  @include media(desktop) {
    gap: 27px;
  }
}
.specCat {
  color: #262626;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;
   @include font(12, 14);
}
.categoryBox div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  @include media(tablet) {
    gap: 2px;
  }
}
.headCat {
  color: rgba(38, 38, 38, 0.5);
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.2px;
  @include font(10, 14);
}
.specCat {
  color: #262626;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;
  @include font(12, 14);
}
.boxIcon {
  right: 12px;
  top: 12px;
  padding: 7px;
  background: #fff4df;
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  cursor: pointer;
  @include media(tablet) {
    padding: 7px;
  }
  @include media(desktop) {
    padding: 10px;
    right: 20px;
    top: 20px;
  }
}
.icon {
  width: 16px;
  height: 16px;
  stroke: rgba(246, 184, 61, 1);
  fill: none;
  @include media(tablet) {
    width: 18px;
    height: 18px;
  }
  @include media(desktop) {
  }
}
