@import "../../scss/mixins";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(38, 38, 38, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  overflow-x: auto;
  z-index: 99999;
}
.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}
.boxContent {
  width: 335px;

  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 28px;
  @include media(tablet) {
    width: 473px;
    height: 510px;
    padding: 40px 71px;
  }
}

.iconClosed {
  position: absolute;

  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  stroke: #262626;
}
.imgCard {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  object-fit: cover;
  @include media(tablet) {
    width: 150px;
    height: 150px;
  }
}

.title {
  color: #2b2b2a;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  padding-top: 16px;
  white-space: wrap;
  text-align: center;
  @include font(18, 24);
}
.categoryBox {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}
.headCat {
  text-align: center;
  color: rgba(38, 38, 38, 0.5);
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.2px;
  @include font(10, 14);
}
.specCat {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262626;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;
  text-align: center;
  @include font(12, 14);
}
.comment {
  color: #2b2b2a;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  margin-top: 16px;
  letter-spacing: -0.28px;
  text-align: center;
  @include font(14, 18);
}
.price {
  color: #2b2b2a;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  margin-top: 32px;
  @include font(16, 20);
  @include media(tablet) {
    @include font(18, 24);
    margin-top: 20px;
  }
}
.btnWrap {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.btnLearn {
  display: flex;
  width: 135px;

  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: #f6b83d;
  border: none;
  color: #fff;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.48px;
  @include font(16, 20);
  @include media(tablet) {
    width: 160px;
  }
}
.iconFavorite {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: rgba(255, 255, 255, 1);
}
.btnCont {
  width: 134px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff4df;
  color: #f6b83d;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.48px;
  border: none;
  cursor: pointer;
  @include font(16, 20);
  @include media(tablet) {
    width: 160px;
  }
}
.star {
  display: flex;
  margin-top: 12px;
}
.iconStar {
  width: 16px;
  height: 16px;
}
.sell {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff4df;
  color: #f6b83d;
  padding: 8px 14px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  border: none;
  letter-spacing: -0.24px;
  top: 40px;
  left: 106px;
  @include font(12, 16);
  @include media(tablet) {
    top: 48px;
    left: 166px;
    @include font(14, 16);
    letter-spacing: -0.28px;
  }
}
