@import "../../scss/mixins";
.cardBox {
  width: 335px;
  padding: 76px 20px 40px 20px;
  height: 100%;
  border-radius: 30px;
  background: #fff;

  position: relative;
  @include media(tablet) {
    border-radius: 60px;
    width: 704px;
    padding: 40px;
  }
  @include media(desktop) {
    width: 520px;
  }
}
.btn {
  margin-top: 20px;
  display: inline-flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #fff4df;
  border: none;
  color: #f6b83d;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.42px;
  text-transform: uppercase;
  @include font(14, 18);
  @include media(tablet) {
    @include font(16, 20);
    padding: 15px 35px;
    letter-spacing: -0.48px;
  }
  @include media(desktop) {
    margin-top: 40px;
  }
}
