@import "../../scss/mixins";
.contSearch {
  width: 335px;
  height: 100%;
  padding: 20px;
  border-radius: 30px;
  background: #fff4df;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
  @include media(tablet) {
    margin-top: 44px;
    width: 704px;
    padding: 32px;
    height: 280px;
  }
  @include media(desktop) {
    width: 1216px;
    height: 216px;
    margin-top: 40px;
  }
}
.bord {
  height: 1px;
  width: 100%;
  background-color: rgba(38, 38, 38, 0.1);
}
.popCont {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.btn {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  border-radius: 30px;
  background: #fff;
  border: none;
  color: #262626;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.48px;
  position: relative;
  @include media(tablet) {
    padding: 14px;
    font-size: 16px;
    line-height: 20px; /* 125% */
    letter-spacing: -0.48px;
  }
  @include media(desktop) {
  }
}

.icon {
  display: none;
}
.active {
  color: #fff;
  background: #f6b83d;
}
.activeIcon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  stroke: rgba(255, 255, 255, 1);
}
.reset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  @include media(tablet) {
    width: 100%;
    flex-direction: row;
   
    justify-content: space-between;
  }
}
.resetBtn {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 42px;
  width: 100%;
  justify-content: center;
  border-radius: 30px;
  background: #f6b83d;
  border: none;
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.48px;
  position: relative;
  cursor: pointer;
  @include media(tablet) {
    width: 110px;
    height: 48px;
    padding: 14px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.48px;
  }
}
