@import "../../scss/mixins";
.cont {
  width: 335px;
  height: 280px;
  background: #f6b83d;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  @include media(tablet) {
    border-radius: 60px;
    width: 704px;
    height: 302px;
  }
  @include media(desktop) {
    width: 592px;
    height: 654px;
  }
}

.pertInf {
  display: none;
  @include media(tablet) {
    width: 294px;
    height: 121px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    gap: 8px;
    padding: 16px;
    position: absolute;
    left: 32px;
    bottom: 32px;
  }
  @include media(desktop) {
    left: 61px;
    bottom: 97px;
  }
}
.name {
  color: #f6b83d;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.48px;
}
.petsDescription {
  color: rgba(38, 38, 38, 0.8);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.24px;
}
.petsBox {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff4df;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  position: absolute;
  z-index: 0;
  width: 314px;
  height: 393px;
  fill: rgba(255, 255, 255, 0.1);
  stroke: none;
  left: 19px;
  top: 18px;
  flex-shrink: 0;
  @include media(tablet) {
    left: 106px;
    top: 52px;
    width: 531px;
    height: 601px;
  }
  @include media(desktop) {
    bottom: 0px;
    left: 24px;
  }
}
.petsIcon {
  width: 32px;
  height: 32px;
}
.pets {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 194px;
}
.petsBirth {
  display: flex;
  gap: 48px;
}
.birthday {
  color: rgba(38, 38, 38, 0.5);

  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.24px;
}
.birthCol {
  color: #262626;
}
.bgShape {
  position: absolute;
  left: 33px;
  top: 54px;
  z-index: 0;
}
