@import "../../scss/mixins";
.cont {
  border-radius: 30px;
  background: #fff;
  padding: 28px 20px;
  position: relative;
  overflow: visible;
  @include media(tablet) {
    padding: 40px 136px;
    width: 704px;
    height: 614px;
    border-radius: 60px;
  }
  @include media(desktop) {
    padding: 60px 80px;
    width: 592px;
    height: 654px;
  }
}
.headLog {
  color: #262626;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.84px;
  margin-bottom: 64px;
  @include font(28, 28);
  @include media(tablet) {
    @include font(32, 32);
    letter-spacing: -0.96px;
  }
}
.boxCharacter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.persDet {
  color: rgba(43, 43, 42, 0.4);
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;

  @include font(14, 18);
  @include media(tablet) {
    @include font(16, 20);
  }
}
.photoBox {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #fff4df;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(tablet) {
    width: 86px;
    height: 86px;
  }
}
.avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
  @include media(tablet) {
    width: 86px;
    height: 86px;
  }
}
.iconNoIcon {
  width: 34px;
  height: 34px;
  fill: rgba(246, 184, 61, 1);
  @include media(tablet) {
    width: 50px;
    height: 50px;
  }
}
.photoUrlBox {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}
.inputPhoto {
  width: 170px;
  display: flex;
  padding: 10px 20px 10px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 36px;
  border-radius: 30px;
  color: #262626;
  text-overflow: ellipsis;
  font-family: Manrope;

  font-style: normal;
  font-weight: 500;

  background-color: #fff;
  border: 1px solid rgba(38, 38, 38, 0.15);
  @include font(12, 16);
  letter-spacing: -0.24px;
  &:hover {
    outline: none;
    border: 1px solid #f6b83d;
  }
  &:focus {
    outline: none;
    border: 1px solid #f6b83d;
  }
  @include media(tablet) {
    width: 276px;
    height: 52px;
    padding: 12px 20px 12px 12px;
    @include font(14, 18);
    letter-spacing: -0.28px;
  }
}
.uploadPhoto {
  width: 117px;
  display: flex;
  height: 36px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  background: #fff4df;
  border: none;
  color: #262626;
  cursor: pointer;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;
  @include font(12, 16);
  @include media(tablet) {
    height: 52px;
    width: 146px;
    @include font(14, 18);
    letter-spacing: -0.28px;
    padding: 12px 16px;
    gap: 8px;
  }
}
.iconUpload {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;

  @include media(tablet) {
    width: 18px;
    height: 18px;
  }
}
.boxName {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  @include media(tablet) {
    gap: 14px;
    margin-top: 20px;
  }
}
.contEmail {
  position: relative;
}
.input {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  width: 295px;
  height: 42px;
  color: #262626;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  background-color: #fff;
  @include font(14, 18);
  letter-spacing: -0.42px;
  &:hover {
    outline: none;
    border: 1px solid #f6b83d;
  }
  &:focus {
    outline: none;
    border: 1px solid #f6b83d;
  }
  @include media(tablet) {
    @include font(16, 20);
    letter-spacing: -0.48px;
    width: 436px;
    height: 52px;
  }
}
.inputBrirth {
  position: relative;
  width: 144px;
  height: 42px;
  border-radius: 30px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  padding: 12px;
  color: rgba(38, 38, 38, 1);
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.42px;
  @include font(14, 18);
  &:hover {
    outline: none;
    border: 1px solid #f6b83d;
  }
  &:focus {
    outline: none;
    border: 1px solid #f6b83d;
  }
  @include media(tablet) {
    width: 210px;
    height: 52px;
    @include font(16, 20);
    letter-spacing: -0.48px;
    padding: 16px;
  }
}
.boxBith {
  display: flex;
  gap: 8px;
  position: relative;
  @include media(tablet) {
    gap: 12px;
  }
}
.iconCalen {
  width: 18px;
  height: 18px;
  position: absolute;
  fill: none;
  stroke: #262626;
  top: 12px;
  right: 12px;
  cursor: pointer;
  @include media(tablet) {
    width: 20px;
    height: 20px;
    top: 15px;
    right: 16px;
  }
}
//
.genderGroup {
  position: absolute;
  left: 20px;
  top: 80px;
  @include media(tablet) {
    left: 136px;
    top: 112px;
  }
  @include media(desktop) {
    left: 80px;
    top: 132px;
  }
}
.genderErrorPos {
  display: flex;
  gap: 8px;
  border-radius: 30px;
  padding: 4px;
}

.genderOption {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 32px;
  height: 32px;
  transition: background-color 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
  @include media(tablet) {
    width: 40px;
    height: 40px;
  }
}

.genderInput {
  display: none;
}
.gender-icon {
  fill: #4a90e2;
}
.female {
  background: rgba(244, 63, 94, 0.1);
}
.male {
  background: rgba(84, 173, 255, 0.1);
}
.multiple {
  background: #fff4df;
}
.femaleIcon {
  width: 20px;
  height: 20px;
  stroke: rgba(244, 63, 94, 1);
  fill: transparent;
  @include media(tablet) {
    width: 24px;
    height: 24px;
  }
}
.maleIcon {
  width: 20px;
  height: 20px;
  stroke: rgba(84, 173, 255, 1);
  fill: transparent;
  @include media(tablet) {
    width: 24px;
    height: 24px;
  }
}
.multipleIcon {
  width: 20px;
  height: 20px;
  stroke: rgba(246, 184, 61, 1);
  fill: transparent;
  @include media(tablet) {
    width: 24px;
    height: 24px;
  }
}
.genderInput:checked + .femaleIcon {
  stroke: rgba(255, 255, 255, 1);
}

.genderInput:checked + .maleIcon {
  stroke: rgba(255, 255, 255, 1);
}

.genderInput:checked + .multipleIcon {
  stroke: rgba(255, 255, 255, 1);
}

.genderOption:has(input:checked).female {
  background: rgba(244, 63, 94, 1);
}

.genderOption:has(input:checked).male {
  background: rgba(84, 173, 255, 1);
}

.genderOption:has(input:checked).multiple {
  background: rgba(246, 184, 61, 1);
}
.btnBox {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: end;
  margin-top: 31px;
  @include media(tablet) {
    margin-top: 40px;
  }
}
.btn {
  border-radius: 30px;
  width: 100px;
  height: 42px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  border: none;
  @include font(14, 18);
  letter-spacing: -0.42px;
  @include media(tablet) {
    width: 170px;
    height: 48px;
    @include font(16, 20);
    letter-spacing: -0.48px;
  }
}
.back {
  color: #262626;
  background: rgba(38, 38, 38, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit {
  background: #f6b83d;
  color: #fff;
}
.customCalendar {
  position: absolute !important;
  z-index: 9999;
  top: 48px;
  left: 0px;
  border-radius: 50px;
  @include media(tablet) {
    top: 55px;
  }
}
.customCalendar :global(.react-datepicker__day--selected) {
  background-color: #ffa94d !important;
  color: white !important;
}

.customCalendar :global(.react-datepicker__day:hover) {
  background-color: #ffd6a5 !important;
  color: black !important;
}
.inputValid {
  border: 1px solid #08aa83;
  &:focus {
    border: 1px solid #08aa83;
  }
}
.inputError {
  border: 1px solid red;
  &:focus {
    border: 1px solid red;
  }
}
.errorMessage {
  color: #ef2447;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  margin-top: 4px;
  letter-spacing: -0.3px;
  @include font(10, 12);
  @include media(tablet) {
    @include font(12, 14);
    letter-spacing: -0.36px;
  }
}
.errorMessageGend {
  color: #ef2447;
  font-family: Manrope;

  font-style: normal;
  font-weight: 500;

  letter-spacing: -0.3px;
  margin-top: 4px;
  margin-left: 8px;
  @include font(10, 12);
  @include media(tablet) {
    @include font(12, 14);
    letter-spacing: -0.36px;
  }
}
