@import "../../scss/mixins";
.container {
  background: #f6b83d;
  display: flex;
  flex-direction: column;
  gap: 60px;
  border-radius: 30px;
  padding: 18px 20px 50px 20px;
  @include media(tablet) {
    border-radius: 60px;
    gap: 110px;
    padding: 16px 32px 44px 32px;
  }
  @include media(desktop) {
    padding: 16px 64px 32px 64px;

    flex-direction: column;
    justify-content: space-between;
  }
}
.contText {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(tablet) {
    gap: 32px;
  }
  @include media(desktop) {
    gap: 73px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.heroH {
  color: #fff;
  width: 295px;
  font-family: Manrope;
 
  font-style: normal;
  font-weight: 700;
  
  letter-spacing: -1.5px;
  @include font(50, 48);
  @include media(tablet) {
    width: 640px;
 
    letter-spacing: -2.4px;
    @include font(80, 77);
  }
  @include media(desktop) {
    width: 640px;
    height: 174px;
    letter-spacing: -2.7px;
    justify-content: end;
    align-items: end;
    align-content: end;
    @include font(80, 87);
  }
}
.heroCare {
  color: rgba(255, 255, 255, 0.4);
}
.text {
  color: #fff;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.28px;
  @include font(14, 18);
  @include media(tablet) {
    width: 255px;
    letter-spacing: -0.36px;
    align-self: flex-end;
    @include font(18, 22);
  }
}
.background_image {
  background-image: url("../../images/hero.png");
  background-color: lightgray;
  background-repeat: no-repeat;
  background-position: -190.306px -22.151px;
  background-size: 227.554% 106.654%;
  border-radius: 30px;
  width: 335px;
  height: 402px;
  @include media(tablet) {
    border-radius: 60px;
    width: 704px;
    height: 496px;
    background-position: -233px -99.594px;
    background-size: 169.176% 135.068%;
  }
  @include media(desktop) {
    width: 1216px;
    height: 384px;
    background-position: -28px -162.344px;
    background-size: 104.194% 185.596%;
  }
}
