@import "../../scss/mixins";
.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
  padding: 24px 64px 0 64px;
}

.info {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.mainNav {
  display: none;
  @include media(tablet) {
    display: none;
  }

  @include media(desktop) {
    display: inline-flex;
  }
}
