@import "../../scss/mixins";
.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media(tablet) {
  }

  @include media(desktop) {
  }
}
.contNav {
  margin: 0 auto;
  padding: 32px;
  @include media(tablet) {
  }

  @include media(desktop) {
    padding: 24px 64px 0 64px;
  }
}

.info {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
}
.mainNav {
  display: none;
  @include media(tablet) {
    display: none;
  }

  @include media(desktop) {
    display: inline-flex;
  }
}
