@import "../../scss/mixins";
.head {
  width: 17px;
  height: 17px;
  stroke: #f6b83d;
  fill: #f6b83d;
  @include media(tablet) {
    width: 23px;
    height: 23px;
  }
}
.newHead {
  stroke: #ffffff;
  fill: #ffffff;
}
.logo {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.4px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @include font(20, 20);
  @include media(tablet) {
    letter-spacing: -1.12px;
    @include font(28, 28);
    span {
      font-weight: 700;
    }
  }
}

.newLogo {
  color: #ffffff;
}
