.head {
  width: 23px;
  height: 23px;
  stroke: #f6b83d;
  fill: #f6b83d;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
}
.newHead {
  stroke: #ffffff;
  fill: #ffffff;
}
.logo {
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -1.12px;
}

.newLogo {
  color: #ffffff;
}
