@import "../../scss/mixins";
.container {
  margin: 0 auto;
  width: 335px;
  @include media(tablet) {
    width: 704px;

    margin-top: 16px;
  }
  @include media(desktop) {
    width: 1280px;
    padding: 0 32px;
  }
}
.contHead {
  display: flex;
  gap: 10px;
  margin-top: 32px;
  flex-direction: column;
  @include media(tablet) {
    gap: 16px;
  }
  @include media(desktop) {
    gap: 32px;
    flex-direction: row;
  }
}
.boxPhoto {
  position: absolute;
  background-image: url("../../images/c6702a27050bc31d6e56df7fbdf681de.png");
  background-size: 100% 100%;
  left: -59px;
  top: -38px;
  width: 461px;
  height: 468px;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(1);
  @include media(tablet) {
    left: 212px;
    top: -29px;
    width: 449px;
    height: 439px;
  }
  @include media(desktop) {
    left: -98px;
    top: -12px;
    width: 781px;
    height: 803px;
  }
}
