@import "../../scss/mixins";
.container {
  margin: 0 auto;
  width: 335px;
  margin-bottom: 20px;
  @include media(tablet) {
    width: 704px;
    margin-bottom: 32px;
    margin-top: 16px;
  }
  @include media(desktop) {
    width: 1280px;
    padding: 0 32px;
  }
}
.contHead {
  display: flex;
  gap: 10px;
  margin-top: 32px;
  margin-bottom: 32px;
  flex-direction: column;
  @include media(tablet) {
    gap: 16px;
  }
  @include media(desktop) {
    gap: 32px;
    flex-direction: row;
  }
}
.cont {
  width: 335px;
  height: 280px;
  background: #f6b83d;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  @include media(tablet) {
    border-radius: 60px;
    width: 704px;
    height: 302px;
  }
  @include media(desktop) {
    width: 592px;
    height: 654px;
  }
}

.boxPhoto {
  position: absolute;
  background-image: url("../../images/acd82b0cfe1e554de6fa5022aac492a2abaad8ca.png");
  background-size: 100% 100%;
  left: -100px;
  top: -36px;
  width: 515px;
  height: 543px;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(1);
  @include media(tablet) {
    left: 175px;
    top: -38px;
    width: 515px;
    height: 543px;
  }
  @include media(desktop) {
    left: -126px;
    top: -9px;
    width: 830px;
    height: 832px;
  }
}
