@import "../../scss/mixins";
.container {
  margin-top: 43px;
  margin: 0 auto;
  width: 335px;
  margin-top: 24px;
  @include media(tablet) {
    width: 704px;
    margin-top: 32px;
  }
  @include media(desktop) {
    width: 1280px;
    padding: 0 32px;
    display: flex;
    gap: 32px;
  }
}
