@import "../../scss/mixins";
.cont {
  @include media(tablet) {
    display: flex;
    gap: 8px;
  }
  @include media(desktop) {
  }
}

.iconAc {
  width: 23px;
  height: 23px;
}

.btn {
  display: none;
  @include media(tablet) {
    width: 136px;
    display: flex;
    padding: 15px 35px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    border-radius: 30px;
    background: #f6b83d;
    outline: none;
    border: none;
    @include font(16, 20);
  }
}
.btnHome {
  display: none;
}
