@import "../../scss/mixins";
.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(tablet) {
  }

  @include media(desktop) {
  }
}
.contNav {
  margin: 0 auto;
  padding: 26px 20px 0 20px;
  width: 375px;
  @include media(tablet) {
    width: 768px;
    padding: 32px 32px 0 32px;
  }

  @include media(desktop) {
    padding: 24px 64px 0 64px;
    width: 1280px;
  }
}

.info {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  @include media(tablet) {
  }

  @include media(desktop) {
    gap: 16px;
  }
}

.burgerMenu {
  @include media(tablet) {
  }
  @include media(desktop) {
    display: none;
  }
}
.burgerIcon {
  width: 32px;
  height: 32px;
  justify-content: center;
  stroke: #262626;
  fill: #262626;
  @include media(tablet) {
    width: 36px;
    height: 36px;
  }
  @include media(desktop) {
    display: none;
  }
}
.burgerIconHome {
  width: 32px;
  height: 32px;
  justify-content: center;
  stroke: #fff;
  fill: #fff;
  @include media(tablet) {
    width: 36px;
    height: 36px;
  }
  @include media(desktop) {
    display: none;
  }
}
