@import "../../scss/mixins";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(38, 38, 38, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  overflow-x: auto;
  z-index: 99999;
}
.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}
.boxContent {
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 28px;
  @include media(tablet) {
    padding: 80px;
  }
}
.iconClosed {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  stroke: #262626;
}
.petsBox {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff4df;
  display: flex;
  align-items: center;
  justify-content: center;
}
.petsIcon {
  width: 44px;
  height: 44px;
}
.boxContent > h1 {
  margin-top: 20px;
  overflow: hidden;
  color: #262626;
  text-overflow: ellipsis;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.6px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  @include font(20, 20);
  @include media(tablet) {
    font-size: 24px;
    letter-spacing: -0.72px;
    line-height: 28px;
    @include font(24, 28);
  }
}
.btnBox {
  display: flex;
  gap: 8px;
  margin-top: 28px;
}
.btn {
  border-radius: 30px;
  border: none;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 14px 57px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;

  letter-spacing: -0.42px;
  width: 137px;
  @include font(14, 18);
  @include media(tablet) {
    @include font(16, 20);
    letter-spacing: -0.48px;
    width: 140px;
  }
}
.btnY {
  background: #f6b83d;
  color: #fff;
}
.btnW {
  background: rgba(38, 38, 38, 0.05);
  color: #262626;
}
