@import "../../scss/mixins";
.edit {
  width: 38px;
  height: 38px;
  border-radius: 30px;
  background: #fff4df;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 18px;
  cursor: pointer;
  z-index: 9999;
  @include media(tablet) {
    right: 40px;
    top: 40px;
  }
}
.icon {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: rgba(246, 184, 61, 1);
}
