@import "../../scss/mixins";
.container {
  margin: 0 auto;
  width: 335px;
  margin-top: 54px;
  margin-bottom: 80px;
  @include media(tablet) {
    width: 704px;
    margin-top: 85px;
  }
  @include media(desktop) {
    margin-top: 96px;
    width: 1280px;
    padding: 0 63px 0 64px;
  }
}
.newsHead {
  color: #262626;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.84px;
  @include font(28, 28);

  @include media(tablet) {
    @include font(54, 54);
    letter-spacing: -1.62px;
  }
}
